<div id="bookmark-icon-area">

	<%= form_tag "/restaurants/#{restaurant.id}/bookmarks", :class => "bookmark-button" do %>
	  <%= submit_tag "Bookmark", :class => "btn btn-primary" %>
	<% end %>


</div>