<div id="bookmark-icon-area">

	<%= form_tag "/restaurants/#{restaurant.id}/bookmarks", :class => "bookmark-button", method: "delete" do %>
	  <%= submit_tag "Remove Bookmark", :class => "btn btn-default" %>
	<% end %>


</div>
