<div id="bookmark-icon-area">

	<%= form_tag "/restaurants/#{restaurant.id}/bookmarks", :class => "unbookmark-button", method: "delete", remote: true do %>
	  <%= submit_tag "Remove Bookmark", :class => "btn btn-default" %>
	<% end %>


</div>
