<!-- pass in resource as a local -->
<div>
		<form method="post" action="/users/<%= current_user.id %>/follow">
		<input type = "hidden" value="<%= resource.class.to_s %>" name = "resource"/>
		<input type = "hidden" value="<%= resource.id %>" name = "resource_id"/>
		<input type="submit" value = "follow" />
	</form>
</div>