<!-- pass_in resource as a local -->
<div>
	<p> hdfjdf </p>
	<%= form_for(@following, url: followings_path ) do |f| %>
		<input type = "hidden" value="<%= resource.class.to_s %>" name = "resource"/>
	<%= f.submit "Follow" %>
</div>