<!-- pass in resource as a local -->
<div>
	<form method="post" action="/followings">
		<input type = "hidden" value="delete" name = "_method"/>
		<input type="submit" value = "follow" />
	</form>
</div>