<% if profile.full_name %> <h4>Name: <%= profile.full_name %></h4> <% end %>
<% if profile.affiliation %> <h4>Affiliation: <%= profile.affiliation %></h4> <% end %>
<% if profile.bio %> <p>Bio: <%= profile.bio %></p> <% end %>
