<div>

	<p>Username : <%= profile.user.username %> </p>
	<% if profile.bio %> <p>Bio : <%= profile.bio %></p> <% end %>
	<% if profile.full_name %> <p>Full name : <%= profile.full_name %></p> <% end %>
	<% if profile.affiliation %> <p>Affiliations : <%= profile.affiliation %></p> <% end %>

<div>