<% if profile.full_name %> <h3>Name: <span class="h4 plain"><%= profile.full_name %></span></h3> <% end %>
<% if profile.affiliation %> <h3>Affiliation: <span class="h4 plain text-capitalize"><%= profile.affiliation %><span></h3> <% end %>
<% if profile.bio %> <h4>Bio: <span class="h5 plain"><%= profile.bio %></span></h4> <% end %>
