<p>Your Comment</p>

<%= form_tag("/restaurants/#{restaurant.id}/reviews/#{review.id}/comments", class: "comment-form", method: "post", remote: true) do %>

  <textarea name="comment[content]" rows=5 cols=50></textarea>

  <%= submit_tag %>
<% end %>
