<h1><%= @article.title %></h1>
<div class="article-info">
  <h4>Article Info</h4>
  <ul style="list-style: none">
    <li>Title: <%= @article.title %></li>
    <li>Content: <%= @article.content %></li>
  </ul>
</div>
