<% unless user.admin? %>
  <div class="user-score btn">
    <strong>
      <% if user.reviewer? %>
        <%= user.reviewer_reputation %>
      <% else %>
        <%= user.user_reputation %>
      <% end %>
    </strong>
  </div>
<% end %>
