<div style="display:none" class="new-specialties-form">
	<%= form_tag("/restaurants/#{restaurant.id}/specialties", class: "comment-form", method: "post", remote: true)  do %>
		<%= text_field_tag "name", nil, placeholder: "Add new specialty", class: "new-specialty-text" %>
		<%= submit_tag "Add dish" %>
	<% end %>
</div>
