
<div class="specialties-form-area">
	<%= form_tag("/restaurants/#{restaurant.id}/specialties", class: "comment-form", method: "post")  do %>
		<%= text_field_tag "name", nil, placeholder: "Add a new dish as a specialty" %>
		<%= submit_tag "Add dish" %>
	<% end %>
</div>