<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %>,</p>

<p>
	<%= @resource.invited_by.username || @resource.email || "Someone" %> has invited you to 
	<% if @resource.reviewer?%>
		be a reviewer on Foodie!!
	<% else %>
		Foodie!
	<% end %>
</p>


<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
