<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 restaurant-form">
    <h1>Update <%= @restaurant.name %></h1>
        <%= render "form" %>
        <%= link_to "Return to Restaurant", restaurant_path(@restaurant) %>
    </div>
  </div>
</div>
