<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-offset-1 col-lg-10">
      <h1>Restaurant Results</h1>
      <div id="restaurants">
        <%= render "restaurants" %>
      </div>
    </div>
  </div>
</div>
