/* Mobile First */

/* Global Settings */
body {
  font-family: 'Lato', sans-serif;
  margin-bottom: 40px;
}

main {
  margin-top: 10px;
  margin-bottom: 40px;
}

html {
  position: relative;
  min-height: 100%;
}

a, a:hover {
  color: #c75204;
}

h1, h2, h3, h4, h5, h6 {
  color: #810541;
}

.plain {
  color: black;
}

.gray {
  color: #999;
}

.header-link a {
  color: #999;
}

.btn-social {
  background: #659EC7;
  color: white;
}

.btn-social:hover {
  background: #ccc;
  color: #333;
  border: 1px solid black;
}

.btn-success {
  background: #005600;
  border: 1px solid black;
}

/* Navbar */

.navbar-default {
  color: white;
  background-color: #810541;
}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 40px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

/* Search bar */

#search-form {
  padding-top: 5px;
  color: black;
}

.search-bar {
  width: 180px;
}

/* Welcome page */

.faux-panel {
  margin-bottom: 20px;
}

.faux-panel h2 {
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-radius: 6px 6px 0 0;
  margin-bottom: 0px;
}

.faux-panel-body {
  padding: 0 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 0 0 2px 2px;
}

/* Login, Registration, etc. */

.enter-site {
  border: 1px solid #aaa;
  text-align: center;
  width: 300px;
  padding: 0 50px;
  margin: 50px auto;
  border-radius: 5px;
}

.enter-site label {
  text-align: left;
  display: block;
  padding-top: 10px;
}

.enter-site label[for="user_remember_me"] {
  display: inline;
  text-align: left;
}

.enter-site input {
  width: 200px;
}

.enter-site .field {
  margin-bottom: 20px;
}

.enter-site input[type="checkbox"] {
  display: inline;
  width: 20px;
}

.enter-site input[type="submit"] {
  width: 100px;
}

.enter-site .links {
  margin: 20px 0;
  text-align: left;
}

.enter-site .links a {
  display: block;
  margin: 8px 0;
}

.set-password-form-input input {
  width: 170px;
}

/* Profile Page */

.profile-header {
  margin-top: 5px;
  display: inline-block;
}

.follow-button, .unfollow-button, .edit-profile {
  display: inline-block;
  margin: 0px 10px 10px 10px;
  vertical-align: middle;
}

.writings-list li {
  margin: 7px 0;
}

.gravatar-row {
  margin-top: 2px;
  margin-bottom: 2px;
}

.gravatar-img {
  width: 60px;
  height: 40px;
  display: inline-block;
}

.social-usernames {
  font-size: 9px;
  text-align: center;
}

/* Restaurant Show Page */

.restaurant-score, .user-score {
  background-color: #c75204;
  display: inline-block;
  color: #eee;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  margin-left: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#bookmark-icon-area {
  display: inline-block;
}

.user-interaction-buttons form, .user-interaction-buttons .btn {
  display: inline-block;
  margin: 10px;
}

span.restaurant-small-data {
  width: 35%;
  margin-right: 4%;
  display: inline-block;
}

span.restaurant-boolean {
  width: 40%;
  display: inline-block;
}

/* Comments */

.comment {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.comments-header {
  margin-bottom: 20px;
}

.bad-comment {
  display: none;
}

.comments-uber-container {
  display: none;
  margin-left: 5%;
}

.comments-box {
  margin-bottom: 30px;
}

.comment-text-input {
  margin-left: 5%;
  width: 90%;
  height: 100px;
  margin-bottom: 10px;
}

.new-comment-form {
  display: none;
}

/* Reviews, Reviewers, and Articles */

.review-byline a {
  color: #810541;
}

#articles-container {
  margin-left: 20px;
}

.top-reviewer {
  margin: 10px 0;
}

.reviewer-avatar {
  min-width: 40px;
  min-height: 40px;
}

/* Various autogenerated forms */

.article-form label, .review-form label, .review-form select, .profile-form label {
  display: block;
  margin: 10px 0;
}

.article-form textarea, .review-form textarea {
  width: 80%;
  min-height: 300px;
  margin-bottom: 10px;
}

.profile-form textarea {
  width: 80%;
  min-height: 200px;
  margin-bottom: 10px;
}

.restaurant-form-group {
  display: block;
}

.restaurant-form-group label {
  margin: 10px;
  width: 120px;
  text-align: right;
}

.restaurant-form-pair {
  width: 85%;
}

.restaurant-form-indented {
  margin-top: 20px;
  margin-left: 140px;
}

.end-link {
  padding: 20px 0;
}

/* Sticky Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  height: 40px;
  background-color: #aaa;
  color: #810541;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

footer p {
  margin-bottom: 0;
}

/* Desktop Second */
@media screen and (min-width: 768px) {

  body {
    font-size: 16px;
  }

  #featured-restaurant-body {
    min-height: 440px;
  }

  .restaurant-form-pair {
    width: 380px;
    display: inline-block;
  }

  .gravatar-img {
    width: 120px;
    height: 80px;
    display: inline-block;
  }

  .article-text {
    font-size: 18px;
    max-width: 1000px;
  }
}
