h1 {
  color: red;
}

.navbar-default {
  color: white;
  background-color: #810541;
}

.navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

@media screen and (min-width: 992px) {

}
