html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: image-url("splash2.jpg") no-repeat center right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  z-index:1;
}


.overlay {
	position: absolute;
	z-index: 1;
	height:100%;
	width: 100%;
}

.overlay-menu {
	margin-top: 12px;
	position: absolute;
	height: calc(100%/6);
	width: 100%;
}

#foodie {
	max-width: 40%;
	padding: 15px auto;
	position: relative;
	overflow: auto;
	margin: 0 25%;
}

.words {
	display: none;
	color: #810541;
	text-align: center;
	text-justify: distribute;
}

ul {
	padding-left: 9%;
	text-align: left;
}

ul li {
	line-height: 160%;
}

.access-buttons {
	padding-top: 89%;
	margin: 0;
}

.access-buttons input {
  background-color: transparent;
	border: 7px solid #810541;
	margin: 1.2em auto;
	display: block;
	width: 40%;
	padding: 0.3em 0;
	font-size: 1.0em;
	font-weight: bold;
	color: #810541;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.access-buttons input:hover {
	background-color: #fcfbe3;
}

@media screen and (min-width: 768px) {

	html {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  background: image-url("splash.png") no-repeat center right fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  font-family: 'Lato', sans-serif;
	}

	*, *:before, *:after {
	  box-sizing: inherit;
	  z-index:1;
	}


	.overlay {
		position: absolute;
		z-index: 1;
		height:100%;
		width: 100%;
	}

	.overlay-menu {
		position: absolute;
		top: 10%;
		left: 15%;
		width: calc(100%/4);
		height: 90%;
		z-index: 3;
		opacity: 1.0;
	}

	#foodie {
		max-width: 70%;
		margin: 0 auto;
		position: relative;
		overflow: auto;
		margin: 0 15%;
		padding: 0;
	}

	.words {
		color: #810541;
		text-align: center;
		text-justify: distribute;
		display: block;
	}

	ul {
		padding-left: 9%;
		text-align: left;
	}

	ul li {
		line-height: 160%;
	}

	.access-buttons {
		position: static;
		padding-top: 0;
	}

	.access-buttons input {
	  background-color: #f2f2f2;
		border: 7px solid #810541;
		margin: 1.2em auto;
		display: block;
		width: 70%;
		padding: 0.3em 0;
		font-size: 1.4em;
		font-weight: bold;
		color: #810541;
	  font-family: 'Lato', sans-serif;
	  cursor: pointer;
	}

	.access-buttons input:hover {
		background-color: #fcfbe3;
	}


}