<% if flash[:errors] && !flash[:errors].empty? %>
<div class="errors-container">
  <h3>Sorry, the following errors occurred.</h3>
  <ol>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ol>
</div>
<% end %>
